<div>
  <ng-container *ngIf="account$ | async as account; else connectWalletSection">
    <p>Connected Wallet: {{ account | slice: 0 : 6 }}...{{ account | slice: -4 }}</p>
    <button (click)="disconnectWallet()">Disconnect Wallet</button>
  </ng-container>
  <ng-template #connectWalletSection>
    <button (click)="connectWallet()">Connect Wallet</button>
  </ng-template>
</div>

<form [formGroup]="swapForm">
  <div>
    <input type="text" formControlName="instruction" placeholder="Enter your swap instruction" />
    <button type="button" (click)="onExample()">Example</button>
  </div>
  <button type="button" (click)="onParse()" [disabled]="swapForm.invalid || isLoading">
    Parse
  </button>
</form>

<div *ngIf="parsedInstruction">
  <h3>Parsed Trade Details:</h3>
  <p>Action: {{ parsedInstruction.action }}</p>
  <p>Amount: {{ parsedInstruction.amount }} {{ parsedInstruction.token }}</p>
  <p>Using: {{ parsedInstruction.using }}</p>

  <button (click)="getUniswapPoolAddress()" [disabled]="isLoading">Get Uniswap Pool Address</button>
  <ng-container *ngIf="poolAddress">
    <p>Pool Address: {{ poolAddress }}</p>
    <button (click)="getUniswapPoolContract()" [disabled]="isLoading">
      Get Uniswap Pool Contract
    </button>
  </ng-container>
  <ng-container *ngIf="poolContract">
    <button (click)="getQuoterContract()" [disabled]="isLoading">Get Quoter Contract</button>
  </ng-container>
  <ng-container *ngIf="quoterContract">
    <button (click)="getQuotedAmountIn()" [disabled]="isLoading">Get Quoter Amount In</button>
    <p *ngIf="quotedAmountIn">
      Quoted Amount In: {{ formattedQuotedAmountIn }} {{ tokenInSymbol }}
    </p>
  </ng-container>
  <ng-container *ngIf="quotedAmountIn">
    <button (click)="getSwapRoute()" [disabled]="isLoading">Get Swap Route</button>
    <button *ngIf="swapRoute" (click)="getInputQuote()">Get Input Quote</button>
  </ng-container>
</div>
